<% profilable = true if local_assigns[:profilable].nil? %>
<% linkable   = true if local_assigns[:linkable].nil? %>
<div class="post" data-id="<%= post.id %>">
  <% if profilable %>
  <div class="post__header">
      <%= link_to profile_path(post.user.username) do %>
        <strong><%= post.user.username %></strong>
      <% end %>
  </div>
  <% end %>
  <div class="post__body">
    <% if linkable %> 
      <%= link_to post do %>
        <%= image_tag post.photo.url(:medium) %>
      <% end %>
    <% else %>
      <%= image_tag post.photo.url(:medium) %>
    <% end %>
    <div class="post__description">
      <% if profilable %>
        <%= link_to profile_path(post.user.username) do %>
          <strong><%= post.user.username %></strong>
        <% end %>
      <% end %>
      <%= post.description %>
      <div class="post__comments">
      <% post.comments.each do |comment| %>
        <%= render 'comments/comment', comment: comment %>
      <% end %>
      </div>
      <div class="btn-group pull-right">
          <button type="button" class="btn btn-default dropdown-toggle " data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="border: 0px;">
            <span class="glyphicon glyphicon-option-horizontal"></span>
          </button>
          <ul class="dropdown-menu">
            <li><%= link_to 'Delete Post', post_path(post), method: :delete %></li>
          </ul>
      </div>
      
    </div>
  </div>
  <div class="post__footer">
    <div class="post__published">
      <%= time_ago_in_words post.created_at %>
      <% if user_signed_in? %>
        <div class="post__comments_form">
          <%= form_with(model: @comment, url: comments_path(post.id)) do |f| %>
            <%= f.text_field :text, placeholder: "Add comment" %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>