<% @posts.each do |post| %>
<div class="post">
  <div class="post__header">
    <strong><%= post.user.username %></strong>
  </div>
  <div class="post__body">
    <%= image_tag post.photo.url(:medium) %>
    <div class="post__description">
      <strong><%= post.user.username %></strong> <%= post.description %>
    
      <div class="btn-group pull-right">
          <button type="button" class="btn btn-default dropdown-toggle " data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="border: 0px;">
            <span class="glyphicon glyphicon-option-horizontal"></span>
          </button>
          <ul class="dropdown-menu">
            <li><%= link_to "Delete", posts_delete_path, method: :delete %></li>
          </ul>
      </div>
      
    </div>
  </div>
  <div class="post__footer">
    <%= time_ago_in_words post.created_at %>
  </div>
</div>
<% end %>
