<h1>Create New Post</h1>
<% if @post.errors.full_messages.any? %>
  <% @post.errors.full_messages.each do |message| %>
    <p>
      <strong><em><%= message %></em></strong>
    </p>
  <% end %>
<% end %>
<%= form_for @post do |f| %>
  <p>
    <%= f.label :description %><br>
    <%= f.text_area :description, rows: 5 %>
  </p>
  <p>
    <%= f.label :photo %><br>
    <%= f.file_field :photo %>
  </p>
  <%= f.submit %>
<% end %>